parameters:
    level: max
    paths:
        - src
        - tools
    configDirectories:
        - config
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
